{{!-- * Setup the `main.handlebars` file 
 so it's able to be used by Handlebars.
* Setup the `index.handlebars` to have the template
 that Handlebars can render onto.
* Create a button in `index.handlebars`
 that will submit the user input into the database. --}}

<div class="row">
<h1>Burgers!!! Eat your burgers and collect them too...</h1>
    <div class="col">
<h2>Burgers You'd Like to Devour!</h2>
        <ul>
        {{#each burger}}
        {{#unless devoured}}
        <div class='fresh'>{{ this.name }} 
            <button class="change-devoured" data-id="{{this.id}}" data-newdevoured="{{this.devoured}}">
		{{#if devoured}}Tasty Burger!{{else}}Grab a bite!{{/if}}
	        </button>
        </div>
        {{/unless}}
        {{/each}}
        </ul>
    </div>

    <div class="col">  
<h2>Burgers that have been devoured!</h2>
        <ul>
        {{#each burger}}
        {{#if devoured}}
        <div class='devoured'>{{ this.name }}  
    <button  class="delete-burger" data-id="{{ this.id }}">DEE-LETE!
    </button> 
    </div>    
        {{/if}}
        {{/each}}
        </ul>
    </div>

</div>

<div class="row">     
<h2>Add a Burger to the to Eat List</h2>
<form class="create-form" method='POST'action="/api/burgers" >
  <div class="form-group">
    <label for="nb">Burger Name:</label>
    <input type="text" id="nb" name="burgerName">
  </div>
  <button type="submit">Add Burger</button>
</form>
</div>







	

	
